body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  box-shadow: 0px 15px 60px 0px #00000040;
  border-radius: 1rem;
  height: 80vh;
  padding: 1rem;
}

.signup-form {
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
}
.illustration-image {
  height: 80vh;
}
.form-content {
  width: 45%;
  padding: 1rem 0;
}

.form-content,
form {
  text-align: left;
  color: #242742;
}

.form-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 6px;
}
.form-content ul {
  padding: 0;
  gap: 0;
}

.form-content p,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 5px;
}

.form-content li {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
form label {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form input {
  border: 1px solid #19182b40;
  font-size: 16px;
  font-weight: 400;
  line-height: 2px;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
form input:hover {
  border: 1px solid #242742;
  cursor: pointer;
}

input[type="email"]:focus {
  outline: 1px solid #242742;
  border: 1px solid #242742;
}
button {
  background: #242742;
  color: white;
  border-radius: 0.8rem;
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  border: #242742;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: 0px 16px 32px 0px #ff615580;
}

/* style error message*/
label span.error-message {
  color: #ff6155;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
/* success message section */
#success-message {
  display: none;
}
/* mobile style */
@media only screen and (max-width: 768px) {
}

/* footer  */
.attribution {
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.attribution a:hover {
  color: hsl(228, 65%, 20%);
  font-weight: bolder;
}
